.container{
    width: 1000px;
    margin: 0 auto;
}

body{
    color: rebeccapurple;
}
h1{
    text-align: center;
}
h3{
    font-size: 24px;

}
.grid-col-2{
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2,200px);
    margin: 8px auto;
}
.grid-col-3{
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-gap: 32px;
    margin: 8px auto;
    margin: 32px;
    box-sizing: content-box;
}
.grid-col-3 > a{
    border: 1px solid purple;
    text-align: center;
    border-radius: 4px;
}
input[type=text] {
    border: 1px solid rebeccapurple;
}

input[type=submit] {
    border: 1px solid rebeccapurple;
    color: rebeccapurple;
    padding: 4px;
}

a{
    text-decoration: none;
    color: inherit;
}

.img-responsive{
    width: 100%;

}
.book-cont{
    grid-gap: 32px;
    width: 70%;
    display: grid;
    grid-template-columns: 200px 400px;
    margin: 8px 0;
}


