<%- include('partials/header') -%>
    <h1>Basic Book-Store Crud App</h1>
    <div>
        <a href="/books/new">Add book</a>
    </div>
    <div>
        <a href="/books/">View all books</a>
    </div>
<%- include('partials/footer') -%>