<%- include('partials/header') -%>
    <h1>Basic Book-Store Crud App</h1>
    <div>
        <a href="/books/new"><h3>Add book</h3></a>
    </div>
    <div>
        <a href="/books"><h3>View all books</h3></a>
    </div>
<%- include('partials/footer') -%>