<%- include('partials/header') -%>
    <p>Add Book</p>
    <form action="/books/new" method="POST">
        <label for="title">
            Title
        </label>
    </form>
    
<%- include('partials/footer') -%>